.spot-item {
  &.header-item-selected,
  &:hover {
    background: var(--Constant-switch-gradient, linear-gradient(90deg, #00bfbf 0%, #e87de8 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';