@import '~@/themes/variable.less';

.header-network-select {
  &-button {
    display: flex;
    align-items: center;
    svg {
      width: 24px;
      height: 24px;
    }
    &-icon {
      svg path {
        fill: #00a2a7;
      }
      &.rotate {
        transform: rotateX(180deg);
      }
    }
  }
}
.header-network-item {
  display: flex;
  color: var(--text-black, #000);
  padding: 0px 16px;
  align-items: center;
  .font14;
  height: 40px;
  cursor: pointer;
  column-gap: 8px;
  svg {
    width: 16px;
    height: 16px;
  }

  &-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: hidden;
  }
  .goerli-indicator {
    height: 16px;
    width: 16px;
    border-radius: 8px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
  }
}
.header-network-item {
  border-radius: 8px;
  &:hover {
    background: var(--solid-2, #013840);
  }
  &.selected {
    background: var(--solid-2, #013840);
  }
  img {
    width: 16px;
    height: 16px;
    margin-right: @space-2x;
  }
}

.header-network__dropdown.ant-select-dropdown {
  width: auto;
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';