@import '~@/themes/variable.less';
.btn-mint {
  width: 16px;
  height: 16px;
  & > svg {
    width: 16px;
    height: 16px;
  }
  &.faucet {
    svg path {
      fill: @primary-color;
    }
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';