.syn-social-loss-alert {
  &-container-desktop {
    margin: 0 0 16px 0;
    float: right;
    width: 655px;
  }
  @media (min-width: 1280px) {
    &-container-desktop {
      width: 472px;
    }
  }

  @media (min-width: 1441px) {
    &-container-desktop {
      width: 655px;
    }
  }

  span {
    font-weight: 700;
  }
  a {
    font-weight: 700;
    text-decoration: underline;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';