@import '~@/themes/variable.less';
@import '@/layout/index.less';
.coin-price-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  border-bottom: 1px solid var(--border-light-line-1, #c3e7e7);
  &.mobile {
    min-height: 180px;
    padding: @space-4x 0;
  }
  &__container {
    position: absolute;
    transform-origin: bottom left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 390px;
    left: 0;
    top: 0;
    .syn-loading {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .axis {
      .domain {
        display: none;
      }
      text {
        fill: var(--text-main-body, #333);
        .font12;
        .font-number;
      }
    }
  }

  &-cover {
    position: absolute;
    top: 0;
    background: @price-warn-bg;
    &.left {
      left: 0;
      opacity: 0.1;
      background: @chart-cover-bg;
      border-right: 1px dashed #14b84b;
    }
    &.right {
      opacity: 0.1;
      right: 0;
      border-left: 1px dashed #ff6666;
      background: @chart-cover-bg;
    }
    &-line {
      position: absolute;
      top: 0;
      width: 1px;
      background: var(--border-light-line-1, #c3e7e7);
      transform: translateX(-50%);
    }
  }
}
.coin-price-chart__svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  &-mouse-line {
    stroke: @border-color;
    stroke-width: 1px;
  }
}
.coin-price-chart-custom-tooltip {
  position: absolute;
  display: flex;
  z-index: 5;
  column-gap: 8px;
  align-items: flex-end;
  overflow: auto;
  &__label {
    .font-number;
    .font12;
    margin-bottom: 6px;
    color: var(--text-black, #000);
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    width: 144px;
    padding: 6px 8px;
    background: @chart-tips-bg;
    border-radius: @space;
    box-shadow: @chart-tooltip-shadow;
    .font12;
    dl {
      display: flex;
      justify-content: space-between;
      white-space: nowrap;
      margin: 0;

      dt {
        color: var(--text-main-body, #333);
      }
      dd {
        margin: 0;
      }
    }
  }
  span {
    display: flex;
  }
  &__dot {
    position: absolute;
    border-radius: 50%;
    width: @space-2x;
    height: @space-2x;
    z-index: 5;
    transform: translate(-50%, -50%);
    &.left {
      background: #14b84b;
    }
    &.right {
      background: #f66;
    }
  }
  &-values {
    display: flex;
    flex-direction: column;
    row-gap: @space;
    width: 100%;
  }
  &.translate {
    flex-direction: row-reverse;
  }
}
.syn-yAxis-tick {
  position: absolute;
  right: 0;
  color: var(--text-main-body, #333);
  .font-number;
  .font12;
  right: @space-2x;
  // transform: translateY(-50%);
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';