.syn-wrap-eth-button.syn-btn {
  height: 32px;
  .font14;
  border-radius: 8px;
  background: var(--button-unchecked-1, #f4fbfb);
  color: var(--text-brand, #00bfbf);
  width: 100%;
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';