@import '~@/themes/func.less';
@funding-history-mobile-prefix: ~'@{syn-prefix}-funding-history-mobile';
.@{funding-history-mobile-prefix} {
  padding: 0 8px;
  & .syn-table.ant-table-wrapper.mobile {
    .ant-table-thead {
      margin-bottom: 8px;
      .ant-table-cell {
        background: none;
        .font12;
        text-align: left;
        &:first-of-type,
        &:last-of-type {
          border-radius: 0;
          border-start-start-radius: 0;
          border-end-end-radius: 0;
        }
      }
    }

    .ant-table-content {
      .ant-table-tbody {
        .ant-table-cell {
          // display: flex;
          column-gap: 4px;
          .bold {
            font-weight: 700;
          }
          .font14;
          .syn-trade-side .ant-tag {
            background: none;
            .font14;
            padding: 0;
            width: auto;
          }
        }
      }
    }
  }
  &-table-cell {
    display: flex;
    column-gap: 4px;
    align-items: baseline;
    justify-content: flex-start;
  }
  .skeleton-table {
    .ant-skeleton {
      .ant-skeleton-title {
        height: 16px;
      }
    }
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';