.page-layout {
  height: 100%;
  & > div {
    height: 100%;
  }
  .yys-btn {
    z-index: 10;
    position: fixed;
    right: 20px;
    bottom: 116px;
    height: fit-content;
    width: fit-content;
    user-select: none;
    background: transparent;
    img {
      width: 56px;
      height: 72px;
      flex-shrink: 0;
    }
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';