.syn-trade-your-own-risk-alert {
  color: #fa0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  display: flex;
  justify-content: center;
  padding: 8px;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid rgba(255, 170, 0, 0.3);

  width: 928px;

  a {
    color: #fa0;
    text-decoration: underline;
  }
  .syn-link {
    color: var(--text-color);
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';