.syn-clm-modal {
  .syn-modal-header {
    border-bottom: 0;
    .syn-modal-header-title {
      font-size: 20px;
      line-height: 24px; /* 120% */
    }
  }
}

.syn-clm-drawer {
  .ant-drawer-header-title {
    flex-direction: row-reverse;
    padding-left: 24px;
    padding-right: 24px;
    .ant-drawer-close {
      margin-right: 0px;
    }
  }
  .ant-drawer-content {
    padding: 0px;
  }
  .ant-drawer-header {
    border-bottom: none !important;
  }
  .ant-drawer-body {
    padding: 0;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';