.syn-block-number-text-mobile {
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--border-light-line-1, #c3e7e7);
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';