@token-favorite-prefix: ~'@{syn-prefix}-token_favorite';
.@{token-favorite-prefix} {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';