@import '~@/themes/func.less';
.syn-trader-detail {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 100%;
  align-items: stretch;
  &-top {
    display: flex;
    column-gap: 24px;
    margin-bottom: 40px;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';