.syn-tgp-tag {
  .font12;
  padding: 2px 4px;
  border-radius: 4px;
  background: #0c4;
  line-height: 12px;
  color: #1f292e;
  &.light-theme {
    color: #fff;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';