.syn-tgp-connect-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url(./assets/btn_large_solid_on.svg);
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  width: 220px;
  height: 57px;
  align-items: center;
  justify-content: center;

  color: var(--white, #fff);
  text-align: center;
  font-family: Oxanium;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  cursor: pointer;
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';