@import '~@/themes/variable.less';
.wallet-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  .font16;
  color: var(--text-black, #000);
  font-weight: 700;
  line-height: 24px;
  column-gap: @space-2x;
  & > img {
    width: 24px;
    height: 24px;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';