.ant-typography {
  &.syn-text {
    color: @text-color;
    line-height: unset;
    font-size: unset;
    font-family: unset;
    font-weight: unset;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';