.syn-unrealized-pnl-tooltip {
  min-width: 268px;
  font-size: 12px;
  &-title {
    margin-bottom: 8px;
    color: #ffffff66;
  }
  &-row {
    display: flex;
    justify-content: space-between;
  }
  &-top {
    border-bottom: 1px solid #ffffff1a;
    padding-bottom: 8px;
    margin-bottom: 8px;
  }
  &-link {
    font-weight: 700;
    text-decoration: underline;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';