@import '~@/themes/func.less';
@trade-form-side-mobile-prefix: ~'@{syn-prefix}-trade-form-side-mobile';
.@{trade-form-side-mobile-prefix} {
  &.syn-syn-tab.ant-tabs {
    .ant-tabs-nav {
      height: 28px;
      border-radius: 6px;
      background: var(--solid-1, #e1f3f3);
      .ant-tabs-nav-wrap {
        .ant-tabs-tab {
          height: 24px;
          .font12;
          font-weight: 700;
          border-radius: @space;
          &.ant-tabs-tab-active {
            .ant-tabs-tab-btn {
              .long {
                color: @long;
              }
              .short {
                color: @short;
              }
            }
          }
        }
        .ant-tabs-ink-bar {
          border-radius: 4px;
        }
      }
    }
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';