.syn-vault-status-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  &-tag {
    display: flex;
    padding: 2px 4px;
    align-items: center;
    gap: 4px;
    border-radius: 6px;
    background: rgba(0, 191, 191, 0.2);
    margin-left: 8px;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';