.number-suffix {
  margin-left: @space;
  .font-default;
  font-weight: 400;
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';