.syn-pnl-title-tooltip {
  min-width: 300px;
  .ant-tooltip-inner {
    padding: 12px 16px 16px 16px;
  }
  &-top {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
  }
  &-top-checkbox {
    .ant-checkbox-wrapper {
      padding: 0;
      margin: 0;
    }
    .ant-checkbox-inner {
      border: 1px solid rgba(61, 79, 92, 1);
    }
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';