@import '~@/themes/variable.less';
.syn-header-menu-dropdown {
  &_menu {
    border-radius: 8px;
    display: flex;
    width: 280px;
    flex-direction: column;
    // transform: translateX(calc(-100% + 126px));
    color: var(--text-black);
    row-gap: @space-2x;
    border: none;
    &-top {
      display: flex;
      flex-direction: column;
      gap: 4px;
      &-row {
        display: flex;
        align-items: center;
        border-radius: @space-2x;
        .font14;
        cursor: pointer;
        padding: @space-4x;
        justify-content: space-between;
        border: 1px solid transparent;
        &-left {
          display: flex;
          column-gap: @space-2x;
          svg {
            width: 16px;
            height: 16px;
            path {
              fill: var(--text-black);
            }
          }
        }
        &-right {
          display: none;
        }

        &:hover {
          background: var(--solid-2, #f4fbfb);
          color: @text-color;
          .syn-header-menu-dropdown_menu-top-row-right {
            display: block;
            path {
              fill: var(--text-weak-prompt);
            }
          }
        }
      }
    }
    &-bottom {
      display: flex;
      justify-content: space-between;
      position: relative;
      padding: @space-3x @space-3x 0px @space-3x;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: @space-3x;
        width: calc(100% - 24px);
        height: 1px;
        background: var(--border-light-line-1, #c3e7e7);
      }
      &-title {
        .font12;
        color: var(--text-strong-prompt, #6fd6d6);
      }
      &-socials {
        display: flex;
        align-items: center;
        column-gap: @space-3x;
      }
      &-social {
        padding: 0;
        display: flex;
        align-items: center;

        svg {
          width: @space-4x;
          height: @space-4x;
        }
        &:not(:hover) {
          svg {
            path:first-of-type {
              fill: var(--text-weak-prompt);
            }
            .icon_youtube_middle {
              fill: var(--text-weak-prompt);
            }
          }
        }
      }
    }
  }
  &-btn.syn-btn-link {
    padding: 0;
    height: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: none;
    display: flex;
    align-items: center;
    color: var(--text-black);
    outline: none;
    svg {
      width: @space-6x;
      height: @space-6x;
    }
    &:active,
    &:hover,
    &.ant-dropdown-open {
      color: @primary-color;
      svg path {
        fill: @primary-color;
      }
    }
  }
  &-icon {
    transition: transform 0.5s;
    height: 24px;
    svg path {
      fill: var(--text-weak-prompt);
    }
  }
  .rotate {
    transform: rotateX(180deg);
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';