.status-icon {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  & > div,
  & > img {
    width: 100%;
    height: 100%;
  }
  .identicon {
    height: 100%;
    width: 100%;
    border-radius: 1.125rem;
    line-height: 1;
    & > div {
      width: 100%;
      height: 100%;
    }
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';