.linear-gradient-bg {
  background: linear-gradient(45deg, #8095ff 0%, #29b5bc 50%, #1262b2 100%) 0% 0% repeat;
  background-size: 200% 100%;
}
.remove-scrollbar {
  scrollbar-width: none;
  /* Firefox */
}
.remove-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}
.word-ecllipis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.f-a-c {
  display: flex;
  align-items: center;
}
.syn-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
@side-menu-bg : var (--side-menu-bg);
.fontOxanium {
  font-family: Oxanium, 'Roboto', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-style: normal;
}
.font-default {
  font-family: Ubuntu, 'Roboto', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-style: normal;
}
.font-number {
  font-family: Ubuntu, 'Roboto', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-style: normal;
}
.font12 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.font14 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.font16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
.font20 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.font24 {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}
.font32 {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
}
.font28 {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
}
