.syn-history-wrapper {
  display: block;
  &-title {
    height: 40px;
    color: var(--text-brand, #00bfbf);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    display: flex;
    align-items: center;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';