@import '~@/themes/func.less';
@invalid-vault-cards-prefix: ~'@{syn-prefix}-invalid-vault-cards';
.@{invalid-vault-cards-prefix} {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 392px;
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';