.syn-tgp-modal-twitter-share {
  display: flex;
  align-items: center;
  row-gap: 16px;
  flex-direction: column;
  .syn-odyssey-button {
    display: flex;
    align-items: center;
    column-gap: 4px;
    padding: 0 8px;
    .font14;
    font-weight: 700;
    svg path {
      fill: #fff;
    }
  }
  &-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';