.syn-distribution-history {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  color: var(--text-black, #fff);
  h1 {
    .font20;
    margin: 0;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';