@side-menu-bg : var (--side-menu-bg);
.token-pair__expiry {
  color: var(--theme-gray-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.token-pair__expiry.token-pair-highlight {
  border-radius: 4px;
  color: #00BFBF;
  display: flex;
  font-weight: 700;
  align-items: center;
  justify-content: center;
}
.fontOxanium {
  font-family: Oxanium, 'Roboto', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-style: normal;
}
.font-default {
  font-family: Ubuntu, 'Roboto', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-style: normal;
}
.font-number {
  font-family: Ubuntu, 'Roboto', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-style: normal;
}
.font12 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.font14 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.font16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
.font20 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.font24 {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}
.font32 {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
}
.font28 {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
}
