@import '~@/themes/func.less';
@portfolio-mobile-accounts-prefix: ~'@{syn-prefix}-portfolio-mobile-accounts';
.@{portfolio-mobile-accounts-prefix} {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 4px;
  padding: 0 8px;
  &-asset {
    background: var(--solid-list-card, #f4fbfb);
    border-radius: var(--spacing-8, 8px);
    padding: 16px;
    display: flex;
    row-gap: 16px;
    justify-content: space-between;
    align-items: stretch;
    &:hover {
      background: var(--solid-list-card-hover, #fff);
    }
    &-token {
      display: flex;
      align-content: center;
      column-gap: 8px;
      &-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 0;
        &-symbol {
          font-size: 16px;
          font-weight: 700;
          line-height: 16px;
          color: @text-emphasis;
        }
        &-price {
          .font12;
          line-height: 12px;
          color: var(--text-weak-prompt, #94b8bf);
        }
      }
    }
    &-btns {
      display: flex;
      align-items: center;
      column-gap: 12px;
      .syn-btn {
        height: 32px;
        border-radius: 8px;
        padding: 8px 12px;
        .font14;
        font-weight: 700;
      }
    }
    &-btn {
      &.syn-btn {
        padding: 12px;
        height: 32px;
        font-weight: 700;
      }
    }
  }

  &-alert {
    border-top: 1px solid @border-light-color;
    padding: @space-3x;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';