.syn-cross-market-checkbox {
  margin: 0;
  padding: 0;
  gap: 8px;
  span {
    padding-inline-end: 0px;
    padding-inline-start: 0px;
  }
  &::after {
    display: none;
  }
  .syn-cross-market-checkbox-text {
    &.short {
      width: 56px;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';