@import '~@/themes/variable.less';
.pending-tx {
  margin-left: @space-3x;
  display: flex;
  align-items: center;
  // background-color: @bg1;
  border-radius: @space;
  // padding: 0 @space-2x;
  & > span {
    margin-right: @space-2x;
  }
  &-icon {
    animation: loadingCircle 1s infinite linear;
  }
  &.mobile {
    margin: 0;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';