.syn-icon-tooltip {
  // margin-left: 4px;
  height: @space-3x;
  width: @space-3x;
  path {
    fill: @icon-5-color;
    transition: fill 0.7s ease-in;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';