.syn-affiliate-top {
  display: flex;
  justify-content: center;
  gap: 24px;
  &-left {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    flex: 1;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';