@import '~@/themes/func.less';
.syn-t-vLWarning-toaster {
  border-radius: 8px;
  width: calc(var(--doc-width) - 16px);
  padding: 12px;
  display: flex;
  align-items: flex-start;
  column-gap: 8px;
  background: var(--solid-2, #f4fbfb);
  margin: 0 8px 8px 8px;

  &-middle {
    flex: 1;
    color: var(--text-strong-prompt, #007580);
    .font14;
  }
  &-right {
    display: flex;
    align-items: center;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';