.syn-drawer-selector {
  padding-bottom: 0;
  &-content {
  }
  &-item {
    display: flex;
    padding: 20px 0px;
    align-items: center;
    justify-content: center;
    .font16;
    line-height: 16px;
    &:hover {
      color: @primary-color;
      font-weight: 700;
    }
    &:not(:last-of-type) {
      border-bottom: 1px solid var(--border-light-line-1, #c3e7e7);
    }
    &-active {
      color: @primary-color;
      font-weight: 700;
    }
  }

  .ant-drawer-header {
    display: none;
  }
  .ant-drawer-body {
    padding: 0;
  }
  .ant-drawer-content {
    padding-bottom: 0;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';