@import '~@/themes/func.less';
@trade-limit-messages-prefix: ~'@{syn-prefix}-trade-limit-messages';
.@{trade-limit-messages-prefix} {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  &-alert {
    display: flex;
    align-items: center;
    column-gap: 4px;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';