@import '~@/themes/func.less';
@trade-mobile-orders-trade-prefix: ~'@{syn-prefix}-trade-mobile-orders-trade';
.@{trade-mobile-orders-trade-prefix} {
  background: var(--solid-2, #f4fbfb);
  padding: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  &-top {
    display: flex;
    align-items: stretch;
    column-gap: 16px;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';