.ant-collapse {
  border: none;
  background: transparent;
  .ant-collapse-item {
    border: none;
    .ant-collapse-header {
      background: transparent;
      .font16;
      line-height: 24px;
      padding: @space-6x;
      border: none;
      color: @text-color;

      .ant-collapse-arrow {
        width: 12px;
        height: 12px;

        path {
          fill: @icon-4-color;
        }
      }
      .ant-collapse-header-text {
        color: @text-color;
      }
      .ant-collapse-expand-icon {
        svg path {
          stroke: @icon-4-color;
        }
      }
    }
    .ant-collapse-content {
      background: transparent;
      border-top: 0.5px solid @border-color;
      border-bottom: 0.5px solid @border-color;
    }
  }
}
