.ant-dropdown {
  background-color: var(--solid-white-card, #044953);
  border-radius: var(--spacing-8, 8px);
  border: 1px solid var(--border-white, #007580);

  &-menu {
    background: transparent !important;
    display: flex;
    flex-direction: column;
    gap: 4px;
    &-item {
      border-radius: 8px;
      border: none;
    }
    &-title-content {
      span {
        color: var(--text-black, #000);
      }
    }
  }
}
