.ant-tooltip {
  .ant-tooltip-content {
    .ant-tooltip-inner {
      background: var(--solid-toast-tips);
      padding: 8px 12px;
      .syn-link {
        font-weight: 700;
        color: #fff;
      }
    }
  }
  .ant-tooltip-arrow::before {
    background: var(--solid-toast-tips);
  }
}
