@import '~@/themes/func.less';
@spot-pair-prefix: ~'@{syn-prefix}-spot-pair';
.@{spot-pair-prefix} {
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: var(--text-black, #000);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';