.syn-tgp-modal-discord-join {
  &,
  &-title {
    display: flex;
    align-items: center;
    row-gap: 24px;
    flex-direction: column;
  }
  &-title {
    row-gap: 16px;
    width: 340px;
    .font16;
    line-height: 24px;
  }
  &-subtitle {
    text-align: center;
    .font14;
    color: var(--cyan, #00bfbf);
  }
  &-bottom {
    display: flex;
    align-items: center;
    column-gap: 16px;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';