.syn-skeleton {
  &.ant-skeleton {
    .ant-skeleton-content {
      .ant-skeleton-title {
        margin: 0;
        height: 16px;
        border-radius: 99px;
      }
    }
  }
}

.syn-skeleton-button {
  min-width: unset !important;
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';