@import '~@/themes/variable.less';

.switch-wallet-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: @space-4x;
  &-left {
    .font14;
    display: flex;
    align-items: center;
    column-gap: @space-2x;
    color: var(--text-strong-prompt, #006a80);
  }
  .switch-wallet-btn.syn-btn {
    &:hover {
      color: #29b5bc;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    .font12;
    font-weight: 700;
    border: 1px solid var(--border-light-line-1, #c3e7e7);
    background: @theme-panel-bg;
    &:not(:disabled):hover {
      border: 1px solid var(--border-light-line-1, #c3e7e7);
      background: @theme-panel-bg;
    }
  }
  & > span {
    color: @text-secondary;
    font-size: 0.857143rem /* 12/14 */;
  }
  .wallet-brand {
    column-gap: @space;
  }

  &-right {
    display: flex;
    align-items: center;
    column-gap: @space-4x;
  }
  &.mobile {
    justify-content: space-between;
    .switch-wallet-wrap-right {
      .switch-wallet-btn.syn-btn {
        padding: 6px 8px;
        height: 24px;
        .font12;
        font-weight: 700;
      }
    }
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';