.syn-warning-alert {
  background-color: var(--color-risk);
  display: flex;
  padding: 8px 16px;
  color: white;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  z-index: 1;
  margin-bottom: 16px;
  img {
    margin-top: 3px;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';