@import '~@/themes/func.less';
@transfers-prefix: ~'@{syn-prefix}-transfers';
.@{transfers-prefix} {
  height: 100%;
  // .syn-HistoryRefresh {
  //   margin-top: -@space-4x;
  // }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';