.syn-spot-tokens-drawer {
  padding: 0 !important;
  .syn-spot-tokens-modal-content {
    padding-bottom: 0;
  }
  .ant-drawer-body {
    padding: 0;
  }
  .syn-spot-tokens-modal-container-tokens {
    padding: 0;
  }
  .syn-spot-tokens-modal-header-input.syn-search {
    margin: 16px 24px 8px 24px;
  }
  .ant-drawer-header-title {
    flex-direction: row-reverse;
  }
  .ant-drawer-header {
    .ant-drawer-close {
      margin-inline-end: 0;
    }
    border-bottom: none;
    padding: 24px 24px 0 24px !important;
  }
  .syn-spot-tokens-modal-list-item {
    padding: 12px 24px;
  }

  .syn-spot-tokens-modal-header-input-tip {
    margin: 0 24px;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';