@import '~@/themes/func.less';
@trade-market-messages-prefix: ~'@{syn-prefix}-trade-market-messages';
.@{trade-market-messages-prefix} {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';