.syn-card {
  &-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: @primary-color;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    & > span {
      font-weight: 700;
    }
  }
  &-rows-length {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: @bg2;
    padding: 2px 6px;
    margin-left: 8px;
    background: @primary-color;
    border-radius: 4px;
  }
  &-rows-loading {
    margin-left: 8px;
  }
}

// .syn-card,
// .syn-card.ant-card {
//   background: var(--bg2);
//   color: @text-color;
//   border-radius: 16px;
//   box-shadow: none;
//   border-width: 0;

//   &.ant-card-bordered {
//     border-color: @border-color;
//     border-radius: 16px;
//   }
//   .ant-card-head {
//     color: @primary-color;
//     border-color: @border-color;
//     border: 0;
//     padding: @card-margin;
//     padding-bottom: 24px;
//     .ant-card-head-wrapper {
//       .ant-card-head-title {
//         padding: 0;
//         .syn-card-title {
//           font-weight: 700;
//           font-size: 24px;
//           line-height: 24px;
//           color: @primary-color;
//           display: flex;
//           justify-content: flex-start;
//           align-items: center;
//           & > span {
//             font-weight: 700;
//           }
//           .syn-card-rows-length {
//             font-weight: 700;
//             font-size: 12px;
//             line-height: 16px;
//             color: @bg2;
//             padding: 2px 6px;
//             margin-left: 8px;
//             background: @primary-color;
//             border-radius: 4px;
//           }
//           .syn-card-rows-loading {
//             margin-left: 8px;
//           }
//         }
//       }
//       .ant-card-extra {
//         padding: 0;
//       }
//     }
//   }
//   .ant-card-body {
//     padding: @card-margin;
//     padding-top: 0;
//     height: 100%;
//   }
// }

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';