@import '~@/themes/func.less';
@tutorial-button-prefix: ~'@{syn-prefix}-tutorial-button';
.@{tutorial-button-prefix} {
  border-radius: 100px;
  border: 1px solid var(--button-weak-button, #94b8bf);
  display: flex;
  align-items: center;
  column-gap: @space;
  color: var(--text-black, #000);
  height: 32px;
  padding: 0px 12px;
  .font14;
  &:hover {
    color: var(--text-black, #000);
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';