@import '~@/themes/func.less';
.syn-market {
  margin: 0 auto;
  width: 1280px;
  display: flex;
  padding: 0 @space-6x;
  flex-direction: column;

  &-list {
    display: flex;
    padding-top: 24px;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';