// TODO: the style wait for webpack.config to finish
@type-prefix: ~'@{syn-prefix}-tag';
.@{type-prefix} {
  &-primary {
    background: @primary-color;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';