.spot-swap-alert {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 8px;
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';