.syn-vault-your-deposit {
  color: var(--text-strong-prompt, #006a80);
  font-size: 14px;
  line-height: 16px; /* 114.286% */
  display: flex;
  align-items: center;
  padding: 4px 0px 12px 0;
  align-self: stretch;
  justify-content: space-between;
  &-token {
    margin-left: 8px;
    color: var(--text-black);
  }
  &-usd {
    margin-left: 4px;
    color: var(--text-strong-prompt, #94b8bf);
    font-size: 12px;
    line-height: 12px; /* 100% */
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';