@import '~@/themes/func.less';
@star-bg-prefix: ~'@{syn-prefix}-star-bg';
.@{star-bg-prefix} {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';