// TODO: use css variable to switch antD theme
// @primary-color: #1e878c;
// @layout-header-height: 32px;
// @menu-bg: transparent;

// @layout-body-background: #f0f5f5;

// @primary-color: var(--primary);
// @layout-header-height: var(--layout-header-height);
// @menu-bg: var(--menu-bg);

// @layout-body-background:var (--bg-body);
.antd-reset(@colors) {
  // reset antd
  --ant-primary-color-hover: @colors[ primary ];
  --ant-primary-5: @colors[ primary ];
  --ant-primary-color: @colors[ primary ];
}
