.text-color {
  color: @text-color;
}

.text-gray {
  color: @text-gray;
}

.text-light-gray {
  color: @text-light-gray;
}

.text-success {
  color: @success-color;
}

.text-danger {
  color: @danger-color;
}

.text-primary {
  color: @primary-color;
}

.text-center {
  text-align: center;
}
