.flex {
  display: flex;
}

.just-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-center {
  .flex();
  .just-content-center();
  .align-items-center();
}

.align-right {
  text-align: right;
  justify-content: flex-end;
}
.align-middle {
  text-align: center;
}

.number-suffix {
  margin-left: 2px;
}

.text-second {
  color: @text-secondary;
}

// .is-pinned {
//   border-bottom: 1px solid @border-light-color;
// }
