.form-content {
  overflow-y: auto;
  .remove-scrollbar();
}

.form-wrap-btn() {
  padding: @space-4x;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid @border-color;
  background: @bg1;
}
