// theme base colors
.light-theme-colors {
  --theme-price-card-bg: #fff;
  --theme-empty-color1: #abb5ba;
  --theme-empty-color2: #e2e7e9;
  --theme-empty-2-color1: #abb5ba;
  --theme-empty-2-color2: #f0f3f5;
  // origin color
  --theme-text: #1f292e;
  --theme-border: #e2e7e9;
  // ---
  --theme-day-gray-text: rgba(13, 20, 23, 0.6);
  --theme-night-ad-gradient: linear-gradient(180deg, #e5ffe5 0%, #d5f6f6 49.6%, #fff 100%);
  --theme-night-overview-gradient: linear-gradient(188deg, #ccfff2 0%, #fff 39.44%);
  --theme-night-glass: rgba(255, 255, 255, 0.4);
  --theme-gray-text: rgba(31, 41, 46, 0.6);
  --theme-panel: #fff;
  --theme-night-border-opacity: rgba(54, 99, 99, 0.1);
  --theme-night-border-light: #2d333d;

  --theme-day-border-light: #f0f3f5;
  --tab-active: #fff;
  --theme-gray-light: #f9fbfb;
  --border-line: var(--theme-day-border-light);
  --position-border: #fff;
  --icon-new: #1f292e;
  --header-dropdown-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  --header-dropdown-bg: #fff;
  --social-icon-fill: #abb5ba;
  --theme-border-light: var(--theme-day-border-light);
  --theme-nav-bg: #fff;
  --nav-border: #f0f4f5;
  --portfolio-assets-bg: linear-gradient(90deg, #f0f3f5 0%, #f9fbfb 100%);
  --portfolio-assets-bg-hover: #e2e7e980;
  --portfolio-asset-selected-bg: #fff;
  --tag-bg: var(--theme-border);
  --table-td-bg: rgba(41, 181, 188, 0.07);
  --table-td-hover-bg: #fff;
  --table-border: var(--theme-border);
  --theme-gray-icon: #fff;
  --slider-dot-active: #fff;
  --slider-bar-bg: var(--theme-day-border-light);
  --slider-shadow: 0px 3px 6px 2px rgba(75, 76, 77, 0.2);
  --leverage-bg: #fff;
  --liq-chart-cover-bg: rgba(0, 191, 191, 0.2);
  --liq-chart-cover-base-bg: linear-gradient(180deg, #f0f3f5 0%, #fff 100%);
  --liq-chart-price-bg: #fff;
  --chat-price: #abb5ba;
  --detail-bg: var(--theme-gray-light);
  --tooltip-bg: rgba(31, 41, 46, 0.9);
  --bg-badge: var(--theme-border);
  --sorter-icon-fill: var(--theme-border);
  --bg-tab: var(--theme-day-border-light);
  --modal-mask-bg: rgba(0, 0, 0, 0.45);
  --leverage-border: var(--theme-border-light);
  --select-bg: #fff;
  --input-number-shadow: 0px 2px 0px 0px rgba(31, 41, 46, 0.03);
  --price-line-bg: rgba(31, 41, 46, 0.9);
  --chart-curve-stroke: #ccc;
  --quote-border: var(--theme-border);
  --earn-footer-bg: #f7fdfd;
  --drawer-mask: rgba(0, 0, 0, 0.4);
  --emergency-border: rgba(255, 170, 0, 0.2);
  --emergency-bg: rgba(255, 170, 0, 0.05);
  --mobile-bg-line: rgba(54, 99, 99, 0.1);
  --slider-disabled-bg: linear-gradient(90deg, #e2eaeb 0%, #c7ced1 100%);
  --mobile-input-bg: rgba(54, 99, 99, 0.03);
  --theme-border-opacity: rgba(54, 99, 99, 0.1);
  --subpage-bg: #f7f9f9;
  --mobile-trade-border-color: #3663631a; // only in mobile trade subpage
  --price-warn-bg: rgba(255, 102, 102, 0.2);
  --price-warn-hover: rgba(255, 102, 102, 0.4);
  --color-risk: #f66;
  --slider-bar-disabled: linear-gradient(90deg, #e2eaeb 0%, #c7ced1 100%);
  --chart-tooltip-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  --theme-glass: rgba(255, 255, 255, 0.4);
  --chart-line: rgba(31, 41, 46, 0.2);
  --chart-cover-bg: #eff9f880;
  --chart-tips-bg: rgba(255, 255, 255, 0.9);
  --banner-item-hover: rgba(0, 191, 191, 0.08);
  --skeleton-bg: linear-gradient(90deg, #f0f3f5 0%, #e2e7e9 64.58%, #f0f3f5 100%);
  --skeleton-bg-light: linear-gradient(
    90deg,
    rgba(102, 133, 153, 0.05) 0%,
    rgba(152, 170, 179, 0.2) 64.58%,
    rgba(102, 133, 153, 0.05) 100%
  );
  --banner-title-bg: rgba(255, 255, 255, 0.4);
  --bg-volume-detail-head: #f0f3f5;
  --order-disabled-bg: var(--theme-border-light);
  --size-bg: #fff;
  --size-bottom-bg: #f7f9f9;
  --table-border: var(--theme-night-border-opacity);
  --dot-stroke: #fff;
}
.dark-theme-colors {
  --theme-price-card-bg: #061c2d;
  --theme-empty-color1: #0b2c41;
  --theme-empty-color2: #061c2d;
  --theme-empty-2-color1: #143952;
  --theme-empty-2-color2: #0b2c41;
  --bg-volume-detail-head: #061c2d;
  // origin color
  --theme-text: #fff;
  --theme-border: #0b2c41;
  // ---
  --theme-day-gray-text: rgba(140, 191, 217, 0.8);
  --theme-night-ad-gradient: linear-gradient(180deg, #002a2e 0%, #001b29 50.52%, #051421 100%);
  --theme-night-overview-gradient: linear-gradient(203deg, #04212a 0%, #051421 39.44%);
  --theme-night-glass: rgba(0, 148, 194, 0.05);
  --theme-gray-text: rgba(140, 191, 217, 0.8);
  --theme-panel: #051421;
  --theme-night-border-opacity: rgba(17, 120, 178, 0.15);
  --theme-night-border-light: #061c2d;
  --tab-active: var(--theme-border);
  --theme-gray-light: #071827;
  --border-line: var(--theme-border);
  --border-dropdown: #061c2d;
  --position-border: rgba(0, 148, 194, 0.05);
  --icon-new: #fff;
  --header-dropdown-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.4);
  --header-dropdown-bg: #061c2d;
  --header-divider-bg: var(--theme-border);
  --social-icon-fill: #3d4f5c;
  --theme-border-light: var(--theme-night-border-light);
  --theme-nav-bg: #040c16;
  --nav-border: var(--theme-night-border-light);
  --portfolio-assets-bg: linear-gradient(90deg, #040c16 0%, #04101b 100%);
  --portfolio-assets-bg-hover: #051421;
  --portfolio-asset-selected-bg: var(--theme-night-border-light);
  --tag-bg: var(--theme-border);
  --table-td-bg: var(--theme-border);
  --table-td-hover-bg: var(--theme-night-border-light);
  --table-border: var(--theme-night-border-light);
  --theme-gray-icon: var(--social-icon-fill);
  --text-expiry: var(--theme-night-border-light);
  --slider-dot-active: rgba(255, 255, 255, 0.4);
  --slider-bar-bg: var(--theme-gray-light);
  --slider-shadow: 0px 3px 6px 2px rgba(4, 12, 22, 0.2);
  --leverage-bg: var(--theme-border);
  --leverage-border: #143952;
  --tick-btn-border: #143952;
  --liq-chart-cover-bg: rgba(0, 191, 191, 0.1);
  --liq-chart-cover-base-bg: linear-gradient(180deg, #071827 0%, #0b2c41 100%);
  --liq-chart-price-bg: var(--theme-night-border-light);
  --chat-price: var(--theme-day-gray-text);
  --detail-bg: var(--theme-gray-light);
  --tooltip-bg: rgba(31, 54, 71, 0.9);
  --bg-badge: var(--theme-border);
  --sorter-icon-fill: var(--theme-border-light);
  --bg-tab: var(--theme-panel);
  --modal-mask-bg: rgba(#000000cc, 0.8);
  --select-bg: var(--theme-border);
  --input-number-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  --price-line-bg: rgba(140, 191, 217, 0.8);
  --chart-curve-stroke: #ffffff26;
  --quote-border: var(--leverage-border);
  --earn-footer-bg: #051926;
  --drawer-mask: rgba(0, 0, 0, 0.8);
  --emergency-border: rgba(255, 170, 0, 0.2);
  --emergency-bg: rgba(255, 170, 0, 0.05);
  --mobile-bg-line: rgba(54, 99, 99, 0.1);
  --slider-disabled-bg: linear-gradient(90deg, #e2eaeb 0%, #c7ced1 100%);
  --mobile-input-bg: rgba(54, 99, 99, 0.03);
  --theme-border-opacity: rgba(17, 120, 178, 0.15);
  --subpage-bg: var(--theme-nav-bg);
  --mobile-trade-border-color: #3663631a; // only in mobile trade subpage
  --price-warn-bg: rgba(255, 102, 102, 0.2);
  --price-warn-hover: rgba(255, 102, 102, 0.4);
  --color-risk: #f66;
  --slider-bar-disabled: linear-gradient(90deg, #e3eaeb 0%, #c7ced1 100%);
  --chart-tooltip-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  --theme-glass: rgba(255, 255, 255, 0.4);
  --chart-line: rgba(255, 255, 255, 0.15);
  --chart-cover-bg: #01101666;
  --chart-tips-bg: rgba(6, 28, 45, 0.9);
  --banner-item-hover: rgba(0, 191, 191, 0.15);
  --skeleton-bg: linear-gradient(90deg, #061c2d 0%, #0b2c41 64.58%, #061c2d 100%);
  --skeleton-bg-light: linear-gradient(
    90deg,
    rgba(26, 60, 77, 0.2) 0%,
    rgba(51, 119, 153, 0.3) 64.58%,
    rgba(26, 60, 76, 0.2) 100%
  );
  --banner-title-bg: rgba(4, 12, 22, 0.4);
  --order-disabled-bg: var(--theme-border);
  --size-bg: var(--theme-gray-light);
  --size-bottom-bg: var(--theme-night-border-light);
  --table-border: var(--theme-border);
  --dot-stroke: #007580;
}
