.syn-portfolio-empty {
  border-radius: 16px;
  background: var(--portfolio-bg);
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  flex: 1;
  &-header {
    position: absolute;
    top: 16px;
    left: 24px;
    .font16;
    color: var(--text-black, #000);
    font-weight: 700;
    line-height: 24px;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';