@import '~@/themes/func.less';
@portfolio-mobile-liquidities-prefix: ~'@{syn-prefix}-portfolio-mobile-liquidities';
.@{portfolio-mobile-liquidities-prefix} {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 4px;
  padding: 0 8px;
  &-item {
    background: var(--solid-list-card, #f4fbfb);
    border-radius: var(--spacing-8, 8px);
    padding: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    &:hover {
      background: var(--solid-list-card-hover, #fff);
    }
    &-top {
      display: flex;
      justify-content: space-between;
      column-gap: 24px;
      .token-pair {
        width: 160px;
        column-gap: 8px;
        .token-pair-content {
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          .token-pair__symbol {
            line-height: 16px;
          }
          .token-pair-expiry-tag {
            height: 16px;
          }
          .token-pair__expiry {
            .font12;
            line-height: 12px;
            display: flex;
          }
        }
      }
      .syn-price-range {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .syn-price-range-top {
        row-gap: 8px;
        .syn-price-range-item {
          line-height: 16px;
        }
      }
    }
    &-bottom {
      display: flex;
      justify-content: space-between;
      dl {
        margin: 0;
        flex: 1;
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        align-items: flex-start;
        &:last-of-type {
          align-items: flex-end;
        }
        dt {
          .font12;
          line-height: 12px;
          color: var(--text-weak-prompt, #94b8bf);
        }
        dd {
          .font14;
          line-height: 16px;
          margin: 0;
          display: flex;
          column-gap: 4px;
          color: var(--text-black, #000);
        }
      }
    }
  }

  &-skeleton {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 16px;
    .ant-skeleton {
      width: auto;
      .ant-skeleton-content {
        width: auto;
        .ant-skeleton-title {
          width: 93px;
          height: 20px;
        }
      }
    }
    &-top,
    &-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-top {
      .ant-skeleton:first-of-type {
        .ant-skeleton-title {
          width: 48px;
          height: 24px;
        }
      }
      .ant-skeleton:last-of-type {
        .ant-skeleton-title {
          width: 64px;
          height: 24px;
        }
      }
    }
  }
  .empty-wrap {
    .empty-wrap-text {
      align-items: center;
    }
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';