@import '~@/themes/func.less';
@wallet-drawer-wrapper-prefix: ~'@{syn-prefix}-wallet-drawer-wrapper';
.@{wallet-drawer-wrapper-prefix} {
  .ant-drawer-body {
    padding: 0;
    .ant-card {
      padding: 0;
      padding-top: 24px;
      border-radius: 0;
      background-color: transparent;
      .syn-card_wrapper-content {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
      }
    }
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';