@import '~@/themes/variable.less';
.balance-list {
  // padding-top: 0;
  padding: 0 24px;
  padding-top: 16px;
  display: flex;
  column-gap: @space-2x;
  flex-wrap: wrap;
  row-gap: @space-2x;
  padding-bottom: 24px;
  &.mobile {
    flex-direction: column;
    row-gap: 0;
    padding: 0;
    padding-top: 16px;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';