@import '~@/themes/func.less';
@trade-position-mobile-prefix: ~'@{syn-prefix}-trade-position-mobile';
.@{trade-position-mobile-prefix} {
  padding: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  border-radius: var(--spacing-8, 8px);
  background: var(--solid-2, #f4fbfb);
  &.syn-trade-position-mobile-no-position {
    background: transparent;
  }
  &-top {
    display: flex;
    justify-content: space-between;
    .syn-trade-side {
      .ant-tag {
        background: transparent;
        padding: 0;
        .font16;
        width: auto;
        line-height: 24px;
      }
    }
    &-left {
      .font16;
      line-height: 24px;
      &.LONG {
        color: @long;
      }
      &.SHORT {
        color: @short;
      }
      &-bottom {
        .font-number,
        .number-suffix {
          color: var(--text-weak-prompt, #94b8bf);
        }
      }
    }
    &-btns {
      display: flex;
      column-gap: 4px;
      flex-wrap: wrap;
      .syn-btn {
        height: 24px;
        .font12;
        line-height: 12px;
        font-weight: 700;
        padding: 6px 8px;
        border-radius: 6px;
      }
    }
  }
  &-data {
    display: flex;
    justify-content: flex-start;
    dl {
      flex: 1;
      max-width: 33.33%;
      margin: 0;
      display: flex;
      flex-direction: column;
      row-gap: 4px;
      align-items: flex-start;
      &:not(:first-of-type) {
        align-items: flex-end;
      }
      dt {
        .font12;
        line-height: 12px;
        color: var(--text-weak-prompt, #94b8bf);
        text-align: right;
      }
      dd {
        .font14;
        line-height: 16px;
        margin: 0;
        color: var(--text-black, #000);
        text-align: right;
      }
    }
  }
  &-drawer {
    &.ant-drawer-content {
      .ant-drawer-body {
        padding: 0;
        padding-top: 16px;
      }
    }
  }
  &-skeleton {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 16px;
    .ant-skeleton {
      width: auto;
      .ant-skeleton-content {
        width: auto;
        .ant-skeleton-title {
          width: 93px;
          height: 20px;
        }
      }
    }
    &-top,
    &-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-top {
      .ant-skeleton:first-of-type {
        .ant-skeleton-title {
          width: 48px;
          height: 24px;
        }
      }
      .ant-skeleton:last-of-type {
        .ant-skeleton-title {
          width: 64px;
          height: 24px;
        }
      }
    }
  }
  .empty-wrap {
    padding-top: 8px;
    .empty-wrap-text {
      align-items: center;
    }
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';