.syn-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        padding-right: 0px;
        .font12;
    };
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';