.user-address-btn.syn-btn {
  display: flex;
  align-items: center;
  height: 32px;
  background-color: var(--brand-2, #c6ecec);
  border: none;
  border-radius: @space-4x;

  &:not(:disabled):hover {
    background: @day-border;
  }
  &.mobile {
    padding: 0;
    height: 24px;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';