@import '~@/themes/func.less';
@import '~@/themes/variable.less';
@liquidation-prices-prefix: ~'@{syn-prefix}-liquidation-prices';
.@{liquidation-prices-prefix} {
  display: flex;
  justify-content: flex-end;
  column-gap: @space;
  &-slash {
    color: var(--text-weak-prompt, #94b8bf);
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';