@import '~@/themes/func.less';
@sign-up-with-wallet-prefix: ~'@{syn-prefix}-tgp-sign-up-with-wallet';
.@{sign-up-with-wallet-prefix} {
  .syn-tgp-connect-steps-left-content {
    p {
      margin: 0;
      .font16;
      a {
        color: var(--hlight, #00bfbf);
      }
    }
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';