.syn-market-trends {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: sticky;
  z-index: 10;
  top: 0;
  &-title {
    color: var(--text-black, #000);
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 100% */
    margin: 0;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
  }

  &-skeleton-card {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    width: 280px;
    min-height: 68px;
    border-radius: 16px;
    border: 1px solid var(--border-white, #fff);

    &-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      align-self: stretch;
    }
  }
}

.syn-market-trend-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: 16px;
  // border: 1px solid var(--border-white, #fff);
  min-height: 68px;
  overflow: hidden;

  img {
    width: 100%;
    height: fit-content;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';