@import '~@/themes/variable.less';
.user-address-modal-content {
  display: flex;
  flex-direction: column;
  // padding-bottom: @space-6x;
  .user-address-wallet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;

    border-top: 1px solid var(--border-light-line-1, #c3e7e7);
    height: 56px;

    // background: @border-light-color;
    &-left {
      display: flex;
      align-items: center;
      column-gap: 16px;
    }
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';