.syn-rank-claim-btn {
  display: flex;
  width: 40px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: rgba(0, 191, 191, 0.2);

  color: var(--hlight, #00bfbf);
  leading-trim: both;
  text-edge: cap;
  font-family: Oxanium;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0;
  border: 0;
  cursor: pointer;
  &-wrap {
    width: 40px;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';