.ant-tag.change24Tag {
  line-height: 1;
  padding: 0 2px;
  margin-left: 4px;
}
.change24 {
  &.text-success {
    color: @gain-color;
  }
  &.text-danger {
    color: @lose-color;
  }
  &.mobile {
    color: #ffffff;
    padding: @space-2x @space;
    border-radius: @space-2x;
    width: 64px;
    display: flex;
    justify-content: center;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';