.syn-portfolio-tabs {
  font-size: 20px !important;
  line-height: 24px !important; /* 120% */
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';