@fallback-prefix: ~'@{syn-prefix}-card_wrap_fallback';
.@{fallback-prefix} {
  padding-bottom: 0;
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';