.syn-vault-progress-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-radius: 16px;
  &-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }
  &-title {
    color: var(--theme-text);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px; /* 114.286% */
  }
  &-description {
    color: var(--text-weak-prompt, #006a80);
    align-self: stretch;
    font-size: 12px;
    line-height: 16px; /* 133.333% */
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';