@import '~@/themes/func.less';
@t-gPLeader-board-prefix: ~'@{syn-prefix}-t-gPLeader-board';
.@{t-gPLeader-board-prefix} {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  &-divider {
    height: 1px;
    width: 100%;
    background: var(--border-light-line-1, #c3e7e7);
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';