@import '~@/themes/variable.less';

.syn-hrlm-drawer {
  .ant-drawer-header-title {
    display: flex;
    flex-direction: row-reverse;
  }
  .ant-drawer-body {
    padding: 0;
  }
  .syn-hrlmc {
    padding: 0;
    padding-top: 16px;
  }
  .ant-drawer-title {
    font-weight: 700;
  }
  .syn-hrlmc-btns {
    button {
      font-weight: 700;
      min-height: 48px;
    }
  }
}

.syn-hrlm-modal {
  max-width: 392px;
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';