@import '~@/themes/func.less';
@trade-form-side-prefix: ~'@{syn-prefix}-trade-form-side';
.@{trade-form-side-prefix} {
  &-tabs {
    width: 100%;
    .syn-tabs-item.active {
      background: var(--button-white);
    }
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';