.syn-block-number-text {
  display: flex;
  width: fit-content;
  color: var(--theme-text);
  align-items: center;
  &-icon {
    width: 24px;
    height: 24px;
  }
  &-line {
    background-color: var(--theme-border);
    width: 1px;
    height: 16px;
    margin: 0 16px;
  }
  .ant-skeleton {
    margin-left: 5px;
  }
  .ant-skeleton-title {
    width: 100px !important;
    margin: 0 !important;
  }
  .ant-skeleton-paragraph {
    display: none;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';