.syn-liquidity-form-modal {
  .syn-card_wrapper-sub {
    width: 480px;
  }

  .ant-card {
    width: 480px;
  }
  .syn-liquidity-form-modal-btn {
    &.syn-btn {
      border-radius: @space-2x;
    }
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';