@import '~@/themes/func.less';
@t-gPLeader-board-header-prefix: ~'@{syn-prefix}-t-gPLeader-board-header';
.@{t-gPLeader-board-header-prefix} {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-left {
    display: flex;
    column-gap: 16px;
    align-content: center;
    font-size: 32px;
    font-weight: 700;
    color: var(--text-black, #000);
    align-items: center;
    leading-trim: both;
    text-edge: cap;
    svg {
      path:first-of-type {
        fill: var(--star-color);
      }
    }
  }
  & > div {
    flex: 1;
  }
  &-center {
    display: flex;
    justify-content: center;
  }
  &-tabs {
    &.ant-tabs {
      &.s1 {
        background: url('./assets/tab_bg_02.png') center no-repeat;
        background-size: cover;
      }
      &.s2 {
        background: url('./assets/tab_bg_03.png') center no-repeat;
        background-size: cover;
      }
      &.master {
        background: url('./assets/tab_bg_01.png') center no-repeat;
        background-size: cover;
      }
      &.dark-theme {
        &.s1 {
          background: url('./assets/tab_bg_02_d.png') center no-repeat;
          background-size: cover;
        }
        &.s2 {
          background: url('./assets/tab_bg_03_d.png') center no-repeat;
          background-size: cover;
        }
        &.master {
          background: url('./assets/tab_bg_01_d.png') center no-repeat;
          background-size: cover;
        }
      }
      .ant-tabs-nav {
        margin: 0;
        &::before {
          display: none;
        }
        .ant-tabs-nav-list {
          .ant-tabs-tab {
            font-family: Ubuntu;
            font-size: 16px;
            font-weight: 700;
            width: 128px;
            height: 40px;
            display: flex;
            justify-content: center;
            padding: 8px 0;
            line-height: 16px;
            margin: 0;
            .ant-tabs-tab-btn {
              color: var(--text-strong-prompt, #006a80);
            }

            &.ant-tabs-tab-active {
              .ant-tabs-tab-btn {
                color: #fff;
              }
            }
          }
          .ant-tabs-ink-bar {
            display: none;
          }
        }
        .ant-tabs-nav-operations {
          display: none !important;
        }
      }
    }
  }
  &-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 32px;
    &-divider {
      background: #c3e7e7;
      width: 1px;
      height: 32px;
    }
    &-item {
      display: flex;
      flex-direction: column;
      row-gap: 4px;
      justify-content: center;
      align-items: flex-end;
      &-title {
        .font12;
        line-height: 12px;
      }
      &-number {
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        color: var(--hlight, #00bfbf);
      }
    }
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';