.skeleton-table {
  .ant-skeleton-content {
    .ant-skeleton-title {
      margin: 0;
      height: 14px;
    }
  }
  .ant-table-tbody {
    .ant-table-row {
      .ant-table-cell {
        .ant-skeleton {
          display: flex;
          width: 100% !important;
          justify-content: flex-end;
          &.left {
            justify-content: flex-start;
          }
          &.center {
            justify-content: center;
          }

          .ant-skeleton-content {
            width: 80%;
          }
        }
        &:first-of-type {
          .ant-skeleton {
            justify-content: flex-start;
          }
        }
      }
    }
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';