.balance-max {
  display: flex;
  align-items: center;
  gap: @space;
  color: var(--text-black, #000);
  a {
    color: @primary-color;
    font-weight: 700;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';