.token-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: @space-4x;
  .token-symbol-label {
    // font-size: 16px;
    color: var(--text-black, #000);
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';