.syn-approve-btn {
  border-radius: @border-radius;
  display: flex;
  column-gap: @space;
  align-items: center;
  & {
    svg {
      width: @space-4x;
      height: @space-4x;
      path {
        fill: #ffffff;
      }
    }
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';