@import '~@/themes/func.less';
@trade-limit-input-messages-prefix: ~'@{syn-prefix}-trade-limit-input-messages';
.@{trade-limit-input-messages-prefix} {
  &-alert {
    text-wrap: balance;
  }
  &-link {
    font-weight: 700;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';