.syn-portfolio-mobile {
  height: calc(var(--doc-height) - @mobile-header-height - @mobile-footer-height);
  overflow-y: auto;
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';