.syn-connect-wallet-subCard {
  .wallet-modal-content {
    padding: 0;
    margin: 0;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';