@import '~@/themes/func.less';
@trade-frombase-mobile-prefix: ~'@{syn-prefix}-trade-form-base-mobile';
.@{trade-frombase-mobile-prefix} {
  display: flex;
  flex-direction: column;
  row-gap: @space-2x;
  &-section {
    display: flex;
    &.input {
      column-gap: 8px;
      padding-left: 16px;
      padding-right: 10px;
      border-radius: 8px;
      border: 1px solid var(--border-light-line-1, #c3e7e7);
      align-items: center;
      height: 48px;
      background: @mobile-input-bg;
      &:hover {
        border-color: @primary-color;
      }
    }
    &-left {
      display: flex;
      flex-direction: column;
      row-gap: 4px;
      .ant-form-item-row {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
        .ant-form-item-label {
          padding: 0;
          height: 12px;
          line-height: 12px;
          label {
            height: auto;
            .font12;
            line-height: 12px;
          }
        }
        .ant-form-item-control-input {
          height: 16px;
          color: var(--text-black, #000);
          .font14;
          min-height: 0;
          .ant-input-affix-wrapper {
            border: none;
            height: 16px;
            padding: 0;
            justify-content: flex-start;
            &::before {
              display: none;
            }
          }
        }
      }
    }
  }
  &-amount,
  &-limit {
    display: flex;
    column-gap: @space-2x;
    .syn-form-item {
      .ant-input-affix-wrapper {
        background: transparent;
      }
    }
    .form-input-wrap {
      &:first-of-type {
        flex: 1;
      }
      margin: 0;
    }
  }
  &-leverage {
    display: flex;
    align-items: flex-start;
    column-gap: 12px;
    padding: 8px 0;
    .trade-leverage {
      flex: 1;
      &-bottom {
        border: none;
      }
    }
    .syn-switch-btn {
      padding: 0;
      height: 20px;
      .ant-switch {
        width: 32px;
        height: 19px;
        margin-right: 0;

        .ant-switch-handle {
          width: 15px;
          height: 15px;
          left: 3px;
        }
        &.ant-switch-checked {
          .ant-switch-handle {
            left: calc(100% - 18px);
          }
        }
      }
    }
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';