@import '~@/themes/variable.less';
.user-address-status {
  display: flex;
  align-items: center;
  justify-content: center;
  .user-address-account {
    margin-left: @space-2x;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--text-black, #000);
  }
  &.mobile {
    padding: 0;
    .status-icon {
      width: 24px;
      height: 24px;
    }
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';