@import '../Button/index.less';
// @btn-prefix
@checkbox-prefix: ~'@{btn-prefix}-checkbox';
.@{checkbox-prefix} {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';