@import '~@/themes/func.less';
@legal-disclaimer-prefix: ~'@{syn-prefix}-legal-disclaimer';
.@{legal-disclaimer-prefix} {
  border-radius: 8px;
  border: 1px solid var(--function-yellow-4, #ffc95e);
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  min-width: 992px;
  margin-top: 16px;
  gap: 4px;
  align-self: stretch;
  color: var(--function-yellow-6, #fa0);
  .font12;
  a {
    color: var(--text-brand, #00bfbf);
    text-decoration: underline;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';