.syn-portfolio-asset-skeleton {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 26px 16px;
  justify-content: space-between;
  .syn-portfolio-asset-skeleton-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: fit-content;
    height: fit-content;
    .top {
      .ant-skeleton-title {
        width: 64px;
        height: 12px;
      }
    }
    .bottom {
      .ant-skeleton-title {
        width: 111px;
        height: 12px;
      }
    }
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';