@import '~@/themes/variable.less';
.container-wrap {
  display: flex;
  justify-content: center;
  width: 100%;

  .container {
    padding: @page-padding;
    width: 100%;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';