@import '~@/themes/variable.less';
.trade-form-details {
  background: var(--solid-2, #f4fbfb);
  padding: @space-4x;
  display: flex;
  flex-direction: column;
  row-gap: @space-2x;
  border-radius: @space-2x;

  dl {
    display: flex;
    justify-content: space-between;
    .font12;
    color: var(--text-strong-prompt, #006a80);
    align-items: center;
    margin: 0;
    column-gap: @space-2x;
    &.margin {
      dt {
        font-weight: 700;
        // color: @text-color;
      }
      dd {
        font-weight: 700;
        color: @primary-color;
      }
    }
    dt {
      display: flex;
      align-items: center;
    }
    dd {
      margin: 0;
      color: var(--text-black, #000);
      display: flex;
      align-items: center;
      .font-number;
      .impact {
        .font-default;
      }
      svg {
        height: 10px;
        margin: 0 4px;

        path {
          stroke: @icon-1-color;
        }
      }
    }

    &.text-primary {
      color: @primary-color;
      dt,
      dd {
        color: @primary-color;
      }
    }
  }
  &-line {
    flex: 1;
    border-bottom: 1px solid var(--border-light-line-1, #c3e7e7);
  }
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    .font12;
    font-weight: 700;
    svg {
      transition: all 0.3s ease-in-out;
      path {
        fill: var(--text-black, #000);
      }
    }
    .rotate {
      transform: rotateX(180deg);
    }
  }
  &-container {
    display: flex;
    flex-direction: column;
    row-gap: @space;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';