@import '~@/themes/func.less';
@oyster-amm-prefix: ~'@{syn-prefix}-oyster-amm';
.@{oyster-amm-prefix} {
  .font12;
  position: relative;
  display: flex;
  column-gap: @space;
  justify-content: center;
  color: @text-secondary;
  &-title {
    color: @text-color;
    font-weight: 700;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';