.syn-build-on-network-card {
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  &-img {
    height: 16px;
  }

  // &.blast {
  //   background: #fcfc03;
  // }

  // &.base {
  //   background: #0052ff;
  // }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';