.syn-trade-adjust-leverage {
  .syn-available-balance {
    margin-top: 16px;
  }
  &-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin-top: 16px;
    gap: 8px;
    border-radius: 8px;
    background: var(--solid-2);
    &-title {
      color: var(--text-strong-prompt);
      font-size: 12px;
      font-weight: 400;
      line-height: 16px; /* 133.333% */
    }
    &-spliter {
      flex: 1;
      height: 1px;
      background-color: var(--border-light-line-1);
    }
    &-qoute {
      color: var(--text-black);
      text-align: right;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px; /* 133.333% */
    }
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';