.syn-form-item {
  // min-height: 118px;

  &.ant-form-item {
    .ant-input-affix-wrapper {
      border: 1px solid var(--solid-2, #f4fbfb);
      border-radius: @space-2x;
      background: var(--solid-2, #f4fbfb);
      padding: 0 @space-4x;
      display: flex;
      align-items: center;
      height: 48px;
      column-gap: @space;
      &-focused {
        border: 1px solid @primary-color;
        background: var(--solid-white-card, #fff);
      }
      &:focus,
      input {
        .font14;
        height: 16px;
        // display: none;
        transition: display 500ms ease-in;
      }
      .ant-input-suffix {
        .font12;
        font-weight: 700;
        color: @text-color;
        margin-left: 0;
      }

      &.show {
        input {
          display: block;
        }
      }
      &-flexible {
        cursor: pointer;
      }
      .token-symbol-label {
        color: @text-color;
        // font-size: 16px;
        line-height: 24px;
      }
    }
    .message {
      color: var(--text-black, #000);
      font-size: 12px;
      line-height: 14px;
      opacity: 0.9;
      text-align: center;
      margin-top: @space-2x;
      &::first-letter {
        text-transform: uppercase;
      }
      &.warning {
        color: @warning-color;
      }
    }
    .ant-input-group-addon {
      background-color: transparent;
      border: 1px solid @bg-tab;
      background: @bg-input;
    }
    .ant-input-group {
      .ant-input-affix-wrapper {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
  .ant-input::placeholder {
    color: var(--text-weak-prompt, #94b8bf) !important;
  }
  .ant-input-affix-wrapper {
    input {
      transition: display 0.5s ease;
    }
  }
  &.short {
    .ant-input-affix-wrapper {
      background: none;
      input {
        display: none;
      }
    }
  }
  .syn-form-input-flexible {
    cursor: pointer;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';