.syn-fee-discount-tag {
  border-radius: 4px;
  background: var(--Constant-yellow, #fa0);
  color: #1f292e;
  margin-left: 8px;
  &.light-theme {
    color: #fff;
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';