.token-pair__oracle {
  display: flex;
  align-items: center;
  .token-icon {
    background-color: transparent;
  }
  svg {
    path {
      // fill: @social-icon-fill;
    }
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';