@import '~@/themes/func.less';
@trade-mobile-header-prefix: ~'@{syn-prefix}-mobile-subpage-header';
.@{trade-mobile-header-prefix} {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  color: var(--text-black, #000);
  .font14;
  &-left {
    display: flex;
    align-items: center;
    column-gap: @space-3x;
    .token-pair-expiry-tag {
      background: transparent;
    }
    .syn-btn.syn-btn-text svg.icon {
      width: 12px;
    }

    &-right {
      display: flex;
      column-gap: 4px;
      align-items: center;
      &.ant-skeleton {
        .ant-skeleton-title {
          width: 178px;
          height: 10px;
          display: flex;
        }
      }
    }
  }
  &-right {
    justify-content: flex-end;
    display: flex;
    column-gap: 10px;
    .nav.syn-btn {
      display: flex;
      width: 64px;
      height: 28px;
      padding: 8px 0px;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      color: var(--text-white, #fff);
      .font12;
      line-height: 12px;
      &.trade {
        background: var(--button-brand, #00bfbf);
      }
      &.liq {
        background: var(--function-yellow-6, #fa0);
      }
    }
  }
  svg.icon {
    path {
      fill: var(--text-black, #000);
    }
  }
  .syn-btn.syn-btn-text {
    width: auto;
    padding: 0;
    height: 24px;
    svg {
      width: 24px;
      height: 24px;
    }
  }
}

@primary-color: #00BFBF;@link-color: #00BFBF;@hack: true; @import '~@/themes/variable.less'; @import '~@/themes/font.less';